@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes popOutOnLoad {
      0% {
        transform: scale(0.6);  /* Start shrunken */
        opacity: 0;             /* Completely invisible */
      }
      70% {
        transform: scale(1.05); /* Slight overshoot for a bouncy pop effect */
        opacity: 1;
      }
      100% {
        transform: scale(1);    /* Settle at regular size */
        opacity: 1;
      }
}

:root {
    --main-color: #162ba3;
    --main-color-light: #1f39cc;
    --main-color-variant: #11228375;
    --default-text:white;
    --invert-text:black;
}

body, html {
	margin:0;
	padding:0;
	position:relative;
	overflow: visible;
    /* background-color: rgb(15, 15, 15); */
    background-image: linear-gradient(180deg, rgb(243, 28, 28) 15%, rgb(243, 28, 28) 40%, rgb(243, 28, 28)  80%);
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--default-text);
}

h1{
    font-family: 'Barlow Condensed';
    color: var(--main-color-light);
    font-size: clamp(1rem, 8vw, 4rem);
    font-weight: 500;
    margin-bottom: -1.5rem;
}

h2 {
    font-size:clamp(.5rem, 6vw, 2.5rem);
    font-weight: 400;
    text-align: center;
}

.separatorContainer{
    display: flex;
    gap:1rem;
    width:80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}

.sep {
    border: 0; 
    height:2px;
    background-color: var(--main-color);
    width:100%;

}

.sepicon {
    height:2rem;
    filter: invert(8%) sepia(82%) saturate(5785%) hue-rotate(235deg) brightness(99%) contrast(90%);
}


.header {
	background-color: var(--main-color-light);
	position:sticky;
    z-index: 1;
	top:0%;
    height:7rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px clamp(2rem, 16vw, 12rem);
}

.logoMed{
    height: 9rem;
    top: .9rem;
    position:relative;
    display:block;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.452);
}

.navbar {
	display: flex;
	margin:0;
    font-size: clamp(.8rem, 20vw, 1.25rem);
	color:var(--default-text);
	font-weight: 700;
	justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
}

.navbar a {
    text-decoration: none;
    color:var(--default-text);
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar li {
	padding: 0.5rem;
	list-style-type: none;
    width:fit-content;
}

.navbar li div a{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    text-wrap: nowrap;
}

.closeMenu {
    height:clamp(1rem, 20vw, 1.4rem);
    filter: invert(99%) sepia(100%) saturate(3%) hue-rotate(30deg) brightness(105%) contrast(100%);
}

.closeMenu:hover{
    cursor:pointer;
}

.telIcon {
    height:1.25rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(106%) contrast(101%);
}

.navbar a:hover{
    color:black;
}

.sidebar{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top:7rem;
    right:0;
    width:100%;
    z-index: 999;
    background-color: rgba(20, 20, 20, 0.452);
    backdrop-filter: blur(10px);
    color:var(--default-text);
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    margin:0;
}

.sidebar.show{
    max-height:25vh;
}

.sidebar li {
    list-style: none;
    font-size: 2rem;
    width:100%;
    border-bottom: 4px solid var(--main-color);
    padding:.2rem 0;
    text-align: center;
}

.sidebar a {
    width:100%;
    text-decoration: none;
    color:var(--default-text);
}


.home {
    padding-top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.wordLogo {
    width: clamp(320px, 50vw, 707px);
    filter: invert(8%) sepia(82%) saturate(5785%) hue-rotate(235deg) brightness(99%) contrast(90%);
}

.serviceWrapper {
    border-style: solid;
    /* border-radius: 10px; */
    border-color: rgba(185, 185, 185, 0.473);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:var(--default-text);
    width:55%;
    padding:clamp(.5rem, 8vw, 1rem);
}

.services {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    gap:1.2rem;
}

.services div {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color:var(--default-text);
    border-top: 4px  solid rgba(185, 185, 185, 0.473);
    border-bottom: 4px  solid rgba(185, 185, 185, 0.473);
    padding: 1rem;
    text-align: center;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    border-radius: 6px;
}

.services div:hover{
    transform: scale(1.1);
}

.exp {
    font-size: clamp(.8rem, 1.4vw, 1.2rem);
    font-weight: 400;
    width:70%;
    text-align: center;
}

.spacer {
    display: inline-block;
    margin-top: 24px;
}

.callContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 1rem;
    color: var(--default-text);
    font-size: clamp(1.2rem, 1.8vw, 2rem);
    text-align: center;
}

.callButton{
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    font-weight: 600;
    padding: .5rem 4rem;
    color:white;
    background-color: var(--main-color-light);
    border:none;
    background-image: linear-gradient(92.88deg, var(--main-color-light) 9.16%, var(--main-color) 43.89%, var(--main-color-variant) 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.callButton:hover{
    cursor:pointer;
    box-shadow: var(--main-color-variant) 0 1px 30px;
    transition-duration: .1s;
}

.info {
    display:flex;
    flex-direction: column;
    gap:1.2rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.logoSmall {
    width: 10rem;
}

.infoBlock{
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
}

.infoEmail {
    color: var(--main-color);
    text-decoration: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.footWrapper{
    border-top: 2px solid var(--main-color);
    width:70%;
    padding: 1rem 0;
    font-size: .8rem;
    font-weight: 600;
}

.galleryWrapper {
    --max-cols: 3; 

    /* The magic formula */
    grid-template-columns: repeat(
        auto-fill, 
        minmax(max(200px, (100% - (var(--max-cols) - 1) * 1.5rem) / var(--max-cols)), 1fr)
    );

    display: grid;
    /* grid-template-columns: repeat(3, 16rem); */
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding:2rem;
}

.galleryItem {
    aspect-ratio: 1/1;
    width:100%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;

    animation-name: popOutOnLoad;
    animation-timeline: view();
    animation-range: entry 0% cover 80%; 
    animation-fill-mode: both;
}

.galleryItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.formWarning {
    width:70%;
    text-align: center;
}

.formWarning h2 {
    font-size: 2rem;
    font-weight: 600;
}

.formWarning h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.formWrapper {
    width:70%;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}

.inputWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    gap:.2rem;
    width:100%;
}

.inputWrapper label {
    font-size: 1.4rem;
    font-weight: 500;
    order: 1;
}

input[type=text], textarea {
    font-size: 1.2rem;
    font-weight: 400;
    padding:.6rem;
    order: 2;
}

input[required] + label:after {
	content: '  *';
	color: red;
}

textarea[required] + label:after {
	content: '  *';
	color: red;
}

textarea {
    height: 8rem;
}

.subBtn {
    width:100%; 
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: 600;
    padding: .5rem 4rem;
    color:white;
    background-color: var(--main-color-light);
    border:none;
    background-image: linear-gradient(92.88deg, var(--main-color-light) 9.16%, var(--main-color) 43.89%, var(--main-color-variant) 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display:block;
}

.subBtn:hover{
    cursor:pointer;
    box-shadow: var(--main-color-variant) 0 1px 30px;
    transition-duration: .1s;
}

.mobileDisplay{
    display:none;
}

@media (max-width: 1080px){
    .home {
        padding-top: 4rem;
    }
    
    .header {
        position:relative;
    }

    .logoMed {
        height: 6rem;
        top:0;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
        width:90%;
        gap:.6rem;
    }

    .exp {
        font-size: 1rem;
        width:90%;
    }

    .callContainer {
        width:60%;
    }

    .callButton {
        width:100%;
        padding: 1.2rem 0;
        
    }
    
    .mobileHide {
        display:none;
    }

    .mobileDisplay{
        display:flex;
    }
}

@media (max-width: 760px) {
    .serviceWrapper h2 {
        font-weight: 700;
        margin-top: .2rem;
        margin-bottom: .2rem;
    }
    
    .services {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        gap:.2rem;
    }

    .serviceWrapper {
        border: none;
        width: 80%;
        padding:.8rem;
    }
    .services div{
        font-size: 1.5rem;
        border-bottom: none;
        border-radius: 0;
        padding:1rem;
        align-items: center;

    }

    .services div:last-child{
        border-bottom: 4px  solid var(--main-color-variant);
    }

    .callButton {
        font-size: clamp(.8rem, 4vw, 1.4rem);
    }

    .navbar{
        flex-direction: column;
        justify-content: center;
        gap:.5rem;
    }
    .navbar li {
        padding: .2rem;
    }
}

@media (max-width: 600px) {
    
}